<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Version 0.6, Copyright 2017-2022, tbrautaset (GPLv2)</string>
	<key>CFBundleIdentifier</key>
	<string>org.tbrautaset.inject.MyUSB</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MyUSB</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.6</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>8086_a12f</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xa12f8086</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCISPT</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>5100</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>5100</integer>
				<key>port-count</key>
				<data>
				FAAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS03</key>
					<dict>
						<key>Comment</key>
						<string>Type-A USB2.0 | SS19 | Front left</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS03</string>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>HS04</key>
					<dict>
						<key>Comment</key>
						<string>Type-A USB2.0 | SS20 | Front left</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS04</string>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>HS08</key>
					<dict>
						<key>Comment</key>
						<string>Type-A USB2.0 | Rear right</string>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS08</string>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>HS10</key>
					<dict>
						<key>Comment</key>
						<string>Internal USB2.0 - BCM20702A0</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HS10</string>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
					<key>HS11</key>
					<dict>
						<key>Comment</key>
						<string>Internal USB2.0 - BisonCam, NB Pro</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HS11</string>
						<key>port</key>
						<data>
						CwAAAA==
						</data>
					</dict>
					<key>HS12</key>
					<dict>
						<key>Comment</key>
						<string>Internal USB2.0 - USB2.0-CRW</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HS12</string>
						<key>port</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<key>SS19</key>
					<dict>
						<key>Comment</key>
						<string>Type-A USB3.0 | HS03 | Rear left</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>SS19</string>
						<key>port</key>
						<data>
						EwAAAA==
						</data>
					</dict>
					<key>SS20</key>
					<dict>
						<key>Comment</key>
						<string>Type-A USB3.0 | HS04 | Front left</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>SS20</string>
						<key>port</key>
						<data>
						FAAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacBookPro16,4</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
