<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleGetInfoString</key>
        <string>v1.0</string>
        <key>CFBundleIdentifier</key>
        <string>Version 0.7, Copyright 2017-2025, tbrautaset (GPLv2)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>MyUSB</string>
        <key>CFBundlePackageType</key>
        <string>KEXT</string>
        <key>CFBundleShortVersionString</key>
        <string>0.7</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>0.7</string>
        <key>IOKitPersonalities</key>
        <dict>
            <key>MacBookPro16,4-XHC</key>
            <dict>
                <key>CFBundleIdentifier</key>
                <string>com.apple.driver.AppleUSBHostMergeProperties</string>
                <key>IOClass</key>
                <string>AppleUSBHostMergeProperties</string>
                <key>IOParentMatch</key>
                <dict>
                    <key>IOPropertyMatch</key>
                    <dict>
                        <key>pcidebug</key>
                        <string>0:20:0</string>
                    </dict>
                </dict>
                <key>IOProviderClass</key>
                <string>AppleUSBXHCISPT</string>
                <key>IOProviderMergeProperties</key>
                <dict>
                    <key>kUSBMuxEnabled</key>
                    <true/>
                    <key>port-count</key>
                    <data>FAAAAA==</data>
                    <key>ports</key>
                    <dict>
                        <key>HS01</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>3</integer>
                            <key>port</key>
                            <data>AwAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>3</integer>
                            <key>usb-port-number</key>
                            <data>AwAAAA==</data>
                            <key>Comment</key>
                            <string>Type-A    USB2.0      | Rear left | Companion to SS01</string>
                        </dict>
                        <key>HS02</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>3</integer>
                            <key>port</key>
                            <data>BAAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>3</integer>
                            <key>usb-port-number</key>
                            <data>BAAAAA==</data>
                            <key>Comment</key>
                            <string>Type-A    USB2.0      | Front left | Companion to SS02</string>
                        </dict>
                        <key>HS03</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>255</integer>
                            <key>port</key>
                            <data>BwAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>255</integer>
                            <key>usb-port-number</key>
                            <data>BwAAAA==</data>
                            <key>Comment</key>
                            <string>Internal  USB2.0      - MSI EPF USB</string>
                        </dict>
                        <key>HS04</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>0</integer>
                            <key>port</key>
                            <data>CAAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>0</integer>
                            <key>usb-port-number</key>
                            <data>CAAAAA==</data>
                            <key>Comment</key>
                            <string>Type-A    USB2.0      | Rear right</string>
                        </dict>
                        <key>HS05</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>255</integer>
                            <key>port</key>
                            <data>CgAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>255</integer>
                            <key>usb-port-number</key>
                            <data>CgAAAA==</data>
                            <key>Comment</key>
                            <string>Internal  USB2.0      - BCM20702A</string>
                        </dict>
                        <key>HS06</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>255</integer>
                            <key>port</key>
                            <data>CwAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>255</integer>
                            <key>usb-port-number</key>
                            <data>CwAAAA==</data>
                            <key>Comment</key>
                            <string>Internal  USB2.0      - BisonCam, NB Pro</string>
                        </dict>
                        <key>HS07</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>255</integer>
                            <key>port</key>
                            <data>DAAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>255</integer>
                            <key>usb-port-number</key>
                            <data>DAAAAA==</data>
                            <key>Comment</key>
                            <string>Internal  USB2.0      - CRW</string>
                        </dict>
                        <key>SS01</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>3</integer>
                            <key>port</key>
                            <data>EwAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>3</integer>
                            <key>usb-port-number</key>
                            <data>EwAAAA==</data>
                            <key>Comment</key>
                            <string>Type-A    USB3.0      | Rear left | Companion to HS01</string>
                        </dict>
                        <key>SS02</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>3</integer>
                            <key>port</key>
                            <data>FAAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>3</integer>
                            <key>usb-port-number</key>
                            <data>FAAAAA==</data>
                            <key>Comment</key>
                            <string>Type-A    USB3.0      | Front left | Companion to HS02</string>
                        </dict>
                    </dict>
                </dict>
                <key>model</key>
                <string>MacBookPro16,4</string>
            </dict>
            <key>MacBookPro16,4-PXSX</key>
            <dict>
                <key>CFBundleIdentifier</key>
                <string>com.apple.driver.AppleUSBHostMergeProperties</string>
                <key>IOClass</key>
                <string>AppleUSBHostMergeProperties</string>
                <key>IOParentMatch</key>
                <dict>
                    <key>IOPropertyMatch</key>
                    <dict>
                        <key>pcidebug</key>
                        <string>4:0:0</string>
                    </dict>
                </dict>
                <key>IOProviderClass</key>
                <string>AppleASMediaUSBXHCI</string>
                <key>IOProviderMergeProperties</key>
                <dict>
                    <key>kUSBMuxEnabled</key>
                    <true/>
                    <key>port-count</key>
                    <data>BAAAAA==</data>
                    <key>ports</key>
                    <dict>
                        <key>SS01</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>10</integer>
                            <key>port</key>
                            <data>AQAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>10</integer>
                            <key>usb-port-number</key>
                            <data>AQAAAA==</data>
                            <key>Comment</key>
                            <string>Companion to HS01</string>
                        </dict>
                        <key>SS02</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>10</integer>
                            <key>port</key>
                            <data>AgAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>10</integer>
                            <key>usb-port-number</key>
                            <data>AgAAAA==</data>
                            <key>Comment</key>
                            <string>Companion to HS02</string>
                        </dict>
                        <key>HS01</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>10</integer>
                            <key>port</key>
                            <data>AwAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>10</integer>
                            <key>usb-port-number</key>
                            <data>AwAAAA==</data>
                            <key>Comment</key>
                            <string>Type-C    USB3.1 Gen2 | Front left | Companion to SS01</string>
                        </dict>
                        <key>HS02</key>
                        <dict>
                            <key>UsbConnector</key>
                            <integer>10</integer>
                            <key>port</key>
                            <data>BAAAAA==</data>
                            <key>usb-port-type</key>
                            <integer>10</integer>
                            <key>usb-port-number</key>
                            <data>BAAAAA==</data>
                            <key>Comment</key>
                            <string>Type-C    USB3.1 Gen2 | Front left | Companion to SS02</string>
                        </dict>
                    </dict>
                </dict>
                <key>model</key>
                <string>MacBookPro16,4</string>
            </dict>
        </dict>
        <key>OSBundleRequired</key>
        <string>Root</string>
    </dict>
</plist>
